header {
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  background: #FFFFFF;
}
.blog-header-logo {
  font-size: 1.5em;
  font-weight: normal;
}
.blog-header-logo span {
 color: olivedrab;
 font-weight: 200;
}
.tweetbox {
  border-radius: 5px;
  margin-bottom: 10px;
}
.tweetbox .tweet_text{ 
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #ccc;
}
.tweetbox .tweet_url{ 
  font-size: 11px;
  padding: 5px;
}
.tweetbox .tweet_date{ 
  font-size: 11px;
  padding: 5px;
}

.tweetbox:hover {
  background: #FFFFFF;
  box-shadow: 0 10px 20px -10px #777777;
  transition: 1s;
  cursor: pointer;
}
